---
import PageLayout from '../../layouts/pageLayout.astro';
---

<PageLayout title="Plataforma">
 

  <!-- Sección: Qué es Nuevo Los Lagos -->
  <section class="my-8 text-justify bg-gray-100 p-3">

    <p class="mt-4 text-lg text-gray-700">El proyecto "Nuevo Los Lagos", en desarrollo, es una colaboración entre la Universidad Santo Tomás, Asimet y Grupo Centinela, con financiamiento de Corfo Los Lagos. Esta plataforma web busca fortalecer la infraestructura industrial y profesional de la región.</p>
    <ul class="mt-4 space-y-2 list-disc pl-6 text-gray-700">
      <li><strong>Educación y Actualización Profesional:</strong> Ofrecerá cursos especializados en manufactura avanzada.</li>
      <li><strong>Buscador de Proveedores Basado en IA:</strong> Un sistema inteligente para conectar empresas con proveedores.</li>
    </ul>
  </section>
  
  <!-- Sección: Objetivos -->
  <section class="my-8 text-justify  p-3 ">
    <h2 class="text-2xl font-semibold text-gray-800">Objetivos</h2>
    <h3 class="mt-4 text-xl font-medium text-gray-800">General</h3>
    <p class="mt-2 text-lg text-gray-700">Apoyar el desarrollo y fortalecimiento del sector manufactura avanzada en la Región de Los Lagos.</p>
    <h3 class="mt-4 text-xl font-medium text-gray-800">Específicos</h3>
    <ul class="mt-2 space-y-2 list-disc pl-6 text-gray-700">
      <li>Desarrollar un bien público para mejorar la competitividad del sector.</li>
      <li>Fortalecer la educación en manufactura avanzada.</li>
      <li>Mejorar la coordinación público-privada.</li>
    </ul>
  </section>
  
  <!-- Sección: Organización -->
  <section class="my-8 text-justify bg-gray-100 p-3">
    <h2 class="text-3xl font-semibold text-gray-800">Organización</h2>
    <p class="mt-4 text-lg text-gray-700">Los principales actores en el proyecto son:</p>
    <ul class="mt-2 space-y-2 list-disc pl-6 text-gray-700">
      <li><strong>ASIMET:</strong> Mandante del proyecto.</li>
      <li><strong>Universidad Santo Tomás:</strong> Beneficiario del proyecto.</li>
      <li><strong>Grupo Centinela:</strong> Co-ejecutor con experiencia en el sector.</li>
    </ul>
  </section>
  
  <!-- Sección: Desafíos y Brechas -->
  <section class="my-8 text-justify bg-gray-100 p-3">
    <h2 class="text-3xl font-semibold text-gray-800">Desafíos y Brechas</h2>
    <h3 class="mt-4 text-2xl font-medium text-gray-800">Desafíos</h3>
    <ul class="mt-2 space-y-2 list-disc pl-6 text-gray-700">
      <li>Asegurar el crecimiento de la manufactura avanzada como % del PIB regional.</li>
      <li>Evitar el decrecimiento de manufactura en la región.</li>
    </ul>
    <h3 class="mt-4 text-2xl font-medium text-gray-800">Brechas</h3>
    <ul class="mt-2 space-y-2 list-disc pl-6 text-gray-700">
      <li>Limitadas competencias para adoptar manufactura avanzada.</li>
      <li>Escaso conocimiento sobre manufactura avanzada en la región.</li>
      <li>Poca información sobre el sector en Los Lagos.</li>
    </ul>
  </section>
  
  <!-- Sección: Componentes -->
  <section class="my-8 text-justify bg-gray-100 p-3">
    <h2 class="text-3xl font-semibold text-gray-800">Componentes</h2>
    <ul class="mt-2 space-y-2 list-disc pl-6 text-gray-700">
      <li>Situación Actual Ecosistema MA e i4.0.</li>
      <li>Modelo de Madurez MA e i4.0.</li>
      <li>Modelo de Caracterización de Proveedores MA e i4.0.</li>
      <li>Cursos de Formación MA e i4.0.</li>
      <li>Vinculación Empresa-Proveedor basada en IA.</li>
    </ul>
  </section>
</PageLayout>
