<footer class="bg-[#262626] text-white py-8">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
      <p>&copy; NuevoLosLagos 2024. Todos los derechos reservados.</p>
      <nav class="space-x-4 mt-4 md:mt-0">
        <a href="/sitio/aviso-legal" class="hover:text-gray-400">Aviso legal</a>
        <a href="/sitio/politica-de-privacidad" class="hover:text-gray-400">Política de privacidad</a>

      </nav>
    </div> 

   
  </footer>