---
  const sponsorLogos = [
    { src: "/logo_santotomas.webp", alt: "Santo Tomás", isExternal: false },
    { src: "/logo_asimet.webp", alt: "Asimet", isExternal: false },
    { src: "https://dummyimage.com/200x200/eeeeee/000000", alt: "Grupo Centinela", isExternal: true }, // Imagen externa
    { src: "/logo_corfo.webp", alt: "Corfo", isExternal: false },

  ];
---
<div class="w-full bg-gray-100 py-10">
  <div class="max-w-full px-6">
   

      <!-- Sección de logos de patrocinadores -->
      <div class="text-center">
        <h2 class="text-3xl font-extrabold text-gray-800">Organización</h2>
        <p class="mt-6 text-xl text-gray-600 max-w-3xl mx-auto">
          Nuevo Los Lagos es una colaboración entre la Universidad Santo Tomás, Asimet y Grupo Centinela, con financiamiento de Corfo Los Lagos.
        </p>
      </div>

      <!-- Sección de logos de patrocinadores -->
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 gap-12 mt-16">
        {sponsorLogos.map((logo) => (
          <div class="flex items-center justify-center">
            <img
              src={logo.src}
              alt={logo.alt}
              class="w-full max-w-xs h-auto object-contain"
              loading="lazy"
            />
          </div>
        ))}
      </div>
    </div>
        ))}
      </div>
    </div>
  </div>
</div>