---
import GeneralLayout from '../layouts/generalLayout.astro';
import CtaProveedores from '../components/ctaProveedores.astro';
---
<GeneralLayout>
    
    <section class="bg-white dark:bg-gray-900">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
                    Evaluación del Nivel de Madurez Tecnológica
                </h1>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque                </p>
                <a href="#" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center  rounded-lg bg-primary hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                 Evaluar Ahora
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </a>
             
            </div>
            <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png" alt="mockup">
            </div>                
        </div>
    </section>

    <section class="bg-white ">
        <!-- Title Section -->
        <div class="text-center py-10">
          <h1 class="text-4xl font-bold text-black dark:text-white mb-4">  Lorem ipsum, dolor sit </h1>
          <p class="text-lg text-gray-600 dark:text-gray-400">  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque   </p>
        </div>
      
        <!-- Content Section -->
        <div class="px-8 py-10 mx-auto lg:max-w-screen-xl sm:max-w-xl md:max-w-full sm:px-12 md:px-16 lg:py-20 sm:py-16">
          <div class="grid gap-x-8 gap-y-12 sm:gap-y-16 md:grid-cols-2 lg:grid-cols-3">
            <div class="relative">
              <a href="#_" class="block overflow-hidden group rounded-xl shadow-lg">
                <img src="https://dummyimage.com/250x250/eeeeee/000000" class="object-cover w-full h-56 transition-all duration-300 ease-out sm:h-64 group-hover:scale-110" alt="Adventure">
              </a>
              <div class="relative mt-5">
                <p class="uppercase font-semibold text-xs mb-2.5 text-purple-600">September 10th 2023</p>
                <a href="#" class="block mb-3 hover:underline">
                  <h2 class="text-2xl font-bold leading-5 text-black dark:text-white transition-colors duration-200 hover:text-purple-700 dark:hover:text-purple-400">
                    Journey to the Mountains
                  </h2>
                </a>
                <p class="mb-4 text-gray-700 dark:text-gray-300">Escape the hustle and explore the serene beauty of the mountains. Discover the peace and adventure that awaits.</p>
                <a href="#_" class="font-medium underline text-purple-600 dark:text-purple-400">Read More</a>
              </div>
            </div>
      
            <div class="relative">
              <a href="#_" class="block overflow-hidden group rounded-xl shadow-lg">
                <img src="https://dummyimage.com/250x250/eeeeee/000000" class="object-cover w-full h-56 transition-all duration-300 ease-out sm:h-64 group-hover:scale-110" alt="Ocean">
              </a>
              <div class="relative mt-5">
                <p class="uppercase font-semibold text-xs mb-2.5 text-purple-600">September 15th 2023</p>
                <a href="#" class="block mb-3 hover:underline">
                  <h2 class="text-2xl font-bold leading-5 text-black dark:text-white transition-colors duration-200 hover:text-purple-700 dark:hover:text-purple-400">
                    Explore the Deep Oceans
                  </h2>
                </a>
                <p class="mb-4 text-gray-700 dark:text-gray-300">Dive into the deep oceans and explore the beauty and mystery of the underwater world. A truly unforgettable experience.</p>
                <a href="#_" class="font-medium underline text-purple-600 dark:text-purple-400">Read More</a>
              </div>
            </div>
      
            <div class="relative">
              <a href="#_" class="block overflow-hidden group rounded-xl shadow-lg">
                <img src="https://dummyimage.com/250x250/eeeeee/000000" class="object-cover w-full h-56 transition-all duration-300 ease-out sm:h-64 group-hover:scale-110" alt="Desert Adventure">
              </a>
              <div class="relative mt-5">
                <p class="uppercase font-semibold text-xs mb-2.5 text-purple-600">October 5th 2023</p>
                <a href="#" class="block mb-3 hover:underline">
                  <h2 class="text-2xl font-bold leading-5 text-black dark:text-white transition-colors duration-200 hover:text-purple-700 dark:hover:text-purple-400">
                    Desert Safari
                  </h2>
                </a>
                <p class="mb-4 text-gray-700 dark:text-gray-300">Venture into the heart of the desert and experience the thrill of a safari amidst the dunes.</p>
                <a href="#_" class="font-medium underline text-purple-600 dark:text-purple-400">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </section>


      
<CtaProveedores image="https://dummyimage.com/500x500/eeeeee/000000" text="Lorem"/>






    <section>
        <div class="py-12 bg-white">
            <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">

                <div class="lg:text-center">
                    <h2 class="font-heading mb-4 bg-orange-100 text-orange-800 px-4 py-2 rounded-lg md:w-64 md:mx-auto text-xs font-semibold tracking-widest text-black uppercase title-font">
                        Why choose us?
                    </h2>
                    <p class="font-heading mt-2 text-3xl leading-8 font-semibold tracking-tight text-gray-900 sm:text-4xl">
                        We know tech, we know finance. We are fintech experts.
                    </p>
                    <p class="mt-4 max-w-2xl text-lg text-gray-500 lg:mx-auto">
                        We know how to handle taxation for all the
                        countries we operate in. We care for our customers and help them manage cashflows.
                    </p>
                </div>

                <div class="mt-10">
                    <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                        <div class="relative">
                            <dt>
                                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-white">
                                    <img src="https://www.svgrepo.com/show/503163/api-settings.svg" alt="Powerful API Icon">
                                </div>
                                <p class="font-heading ml-16 text-lg leading-6 font-bold text-gray-700">Powerful API</p>
                            </dt>
                            <dd class="mt-2 ml-16 text-base text-gray-500">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
                            </dd>
                        </div>
                        <div class="relative">
                            <dt>
                                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-white">
                                    <img src="https://www.svgrepo.com/show/503138/webpack.svg" alt="Easy to integrate SDK Icon">
                                </div>
                                <p class="font-heading ml-16 text-lg leading-6 font-bold text-gray-700">Easy to integrate SDK</p>
                            </dt>
                            <dd class="mt-2 ml-16 text-base text-gray-500">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
                            </dd>
                        </div>
                        <div class="relative">
                            <dt>
                                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-white">
                                    <img src="https://www.svgrepo.com/show/511771/dashboard-671.svg" alt="Low Transaction Cost Icon">
                                </div>
                                <p class="font-heading ml-16 text-lg leading-6 font-bold text-gray-700">Low Transaction Cost</p>
                            </dt>
                            <dd class="mt-2 ml-16 text-base text-gray-500">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
                            </dd>
                        </div>
                        <div class="relative">
                            <dt>
                                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-white">
                                    <img src="https://www.svgrepo.com/show/76267/free-commercial-label.svg" alt="Powerful Dashboard Icon">
                                </div>
                                <p class="font-heading ml-16 text-lg leading-6 font-bold text-gray-700">Powerful Dashboard</p>
                            </dt>
                            <dd class="mt-2 ml-16 text-base text-gray-500">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
                            </dd>
                        </div>
                    </dl>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-24 max-w-screen-xl">
            <div class="grid w-full grid-cols-1 gap-6 mx-auto lg:grid-cols-3">
                <div class="p-6">
                    <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="https://via.placeholder.com/150" alt="blog">
    
                    <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">Short headline.</h1>
                    <p class="mx-auto text-base leading-relaxed text-gray-500">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="mt-4">
                        <a href="#" class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600" title="read more"> Read More » </a>
                    </div>
                </div>
                <div class="p-6">
                    <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="https://via.placeholder.com/150" alt="blog">
    
                    <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">Short headline.</h1>
                    <p class="mx-auto text-base leading-relaxed text-gray-500">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="mt-4">
                        <a href="#" class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600" title="read more"> Read More » </a>
                    </div>
                </div>
                <div class="p-6">
                    <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="https://via.placeholder.com/150" alt="blog">
    
                    <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">Short headline.</h1>
                    <p class="mx-auto text-base leading-relaxed text-gray-500">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="mt-4">
                        <a href="#" class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600" title="read more"> Read More » </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
</GeneralLayout>
