---
import SearchResult from "./searchResult.astro"
const { title } = Astro.props;
---

<main class="container mx-auto py-12 flex flex-col lg:flex-row">
  <!-- Search and Results -->
  <div class="w-full lg:w-3/4 pr-8">
    <h2 class="text-2xl font-bold mb-6">{title}</h2>
    
   
<p class="mb-4 text-gray-700 dark:text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<!-- source https://github.com/spacemadev/elevate-free-tailwind-business-template/ -->
<section id="our-team"  py-32">
  <div class="container mx-auto px-4">
      

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
   

                <!-- Team Member 1 -->
                <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                  <img src="https://dummyimage.com/200x200/eeeeee/000000" alt="Team Member 1" class="w-full rounded-full mb-4">
                  <h3 class="text-xl font-semibold mb-2">Nombre  Apellido</h3>
                  <p class="text-gray-700">Carrgo</p>
              </div>
                     <!-- Team Member 1 -->
          <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
            <img src="https://dummyimage.com/200x200/eeeeee/000000" alt="Team Member 1" class="w-full rounded-full mb-4">
            <h3 class="text-xl font-semibold mb-2">Nombre  Apellido</h3>
            <p class="text-gray-700">Carrgo</p>
        </div>
               <!-- Team Member 1 -->
               <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                <img src="https://dummyimage.com/200x200/eeeeee/000000" alt="Team Member 1" class="w-full rounded-full mb-4">
                <h3 class="text-xl font-semibold mb-2">Nombre  Apellido</h3>
                <p class="text-gray-700">Carrgo</p>
            </div>
                   <!-- Team Member 1 -->
          <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
            <img src="https://dummyimage.com/200x200/eeeeee/000000" alt="Team Member 1" class="w-full rounded-full mb-4">
            <h3 class="text-xl font-semibold mb-2">Nombre  Apellido</h3>
            <p class="text-gray-700">Carrgo</p>
        </div>
               <!-- Team Member 1 -->
               <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                <img src="https://dummyimage.com/200x200/eeeeee/000000" alt="Team Member 1" class="w-full rounded-full mb-4">
                <h3 class="text-xl font-semibold mb-2">Nombre  Apellido</h3>
                <p class="text-gray-700">Carrgo</p>
            </div>
                   <!-- Team Member 1 -->
          <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
            <img src="https://dummyimage.com/200x200/eeeeee/000000" alt="Team Member 1" class="w-full rounded-full mb-4">
            <h3 class="text-xl font-semibold mb-2">Nombre  Apellido</h3>
            <p class="text-gray-700">Carrgo</p>
        </div>
               <!-- Team Member 1 -->
               <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                <img src="https://dummyimage.com/200x200/eeeeee/000000" alt="Team Member 1" class="w-full rounded-full mb-4">
                <h3 class="text-xl font-semibold mb-2">Nombre  Apellido</h3>
                <p class="text-gray-700">Carrgo</p>
            </div>
                   <!-- Team Member 1 -->
          <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
            <img src="https://dummyimage.com/200x200/eeeeee/000000" alt="Team Member 1" class="w-full rounded-full mb-4">
            <h3 class="text-xl font-semibold mb-2">Nombre  Apellido</h3>
            <p class="text-gray-700">Carrgo</p>
        </div>
      </div>
  </div>
</section>

  </div>

  <!-- Artículos sugeridos -->
  <div class="w-full lg:w-1/4 mt-12 lg:mt-0">
    <h2 class="text-2xl font-bold mb-6">Últimos articulos</h2>
    <div class="space-y-6">
      {Array(4).fill().map((_, idx) => (
        <div class="bg-gray-100 ">
          <div class="p-4">
            <h3 class="text-xl font-bold mb-2">{idx === 0 ? "Lorem ipsum dolor" : "Sugerido"}</h3>
            <p class="text-gray-600 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            <a href="#" class={`font-bold py-2 px-4 ${idx === 0 ? 'bg-yellow-500 hover:bg-yellow-600' : 'bg-blue-500 hover:bg-blue-600'} text-white transition duration-300 ease-in-out transform hover:scale-105`}>{idx === 0 ? "Registrarse" : "Ver Más"}</a>
          </div>
        </div>
      ))}
    </div>
  </div>
</main>
