     <!-- Resultado 1 -->
     <div class="group">
        <a href="#" class="text-xl font-semibold text-blue-600 hover:underline"> Lorem ipsum dolor sit amet, consectetur</a>
        <p class="text-gray-600">
          <span class="border border-blue-100 text-blue-600  px-2 py-1 text-xs">   Lorem ipsum</span> 
          <span class="border border-blue-100 text-blue-600  px-2 py-1 text-xs">   Lorem ipsum</span> 
          <span class="border border-blue-100 text-blue-600  px-2 py-1 text-xs">   Lorem ipsum</span>
        </p>
        <p class="mt-2 text-gray-700">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        </p>
      </div>
      