---
import SearchResult from "./searchResult.astro"
const { title } = Astro.props;
---

<main class="container mx-auto py-12 flex flex-col lg:flex-row">
  <!-- Search and Results -->
  <div class="w-full lg:w-3/4 pr-8">
    <h2 class="text-2xl font-bold mb-6">{title}</h2>
    
    <!-- Formulario de búsqueda -->
    <form class="flex items-center mb-8">
      <label for="simple-search" class="sr-only">Buscar</label>
      <div class="relative w-full">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-text-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar ..." required>
      </div>
      <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
        <span class="sr-only">Buscar</span>
      </button>
    </form>

    <!-- Resultados de búsqueda simulados -->
    <div class="space-y-8">
      {Array(5).fill().map(() => <SearchResult />)}
    </div>

    <!-- Paginación -->
    <ol class="flex text-xs font-medium space-x-1 mt-5">
      <li><a href="/?page=1" class="inline-flex items-center justify-center w-8 h-8 border border-gray-100 rounded"><svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" /></svg></a></li>
      {[1, 2, 3, 4].map(page => (
        <li class={`block w-8 h-8 text-center ${page === 2 ? 'text-white bg-blue-600 border-blue-600' : 'border border-gray-100'} rounded leading-8`}>
          <a href={`/?page=${page}`} class={page === 2 ? '' : 'block'}>{page}</a>
        </li>
      ))}
      <li><a href="/?page=3" class="inline-flex items-center justify-center w-8 h-8 border border-gray-100 rounded"><svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg></a></li>
    </ol>
  </div>

  <!-- Artículos sugeridos -->
  <div class="w-full lg:w-1/4 mt-12 lg:mt-0">
    <h2 class="text-2xl font-bold mb-6">Recomendados</h2>
    <div class="space-y-6">
      {Array(4).fill().map((_, idx) => (
        <div class="bg-gray-100 ">
          <div class="p-4">
            <h3 class="text-xl font-bold mb-2">{idx === 0 ? "Lorem ipsum dolor" : "Sugerido"}</h3>
            <p class="text-gray-600 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            <a href="#" class={`font-bold py-2 px-4 ${idx === 0 ? 'bg-yellow-500 hover:bg-yellow-600' : 'bg-blue-500 hover:bg-blue-600'} text-white transition duration-300 ease-in-out transform hover:scale-105`}>{idx === 0 ? "Registrarse" : "Ver Más"}</a>
          </div>
        </div>
      ))}
    </div>
  </div>
</main>
