---
// Importar componentes reutilizables con nombres más claros
import NavigationBar from '../components/site/navBar.astro';
import SiteBreadcrumbs from '../components/site/breadcrumbs.astro';
import SponsorSection from '../components/site/sponsors.astro';
import SiteFooter from '../components/site/footer.astro';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{title}</title>
</head>
<body >
  <!-- Establecer fuente base para el sitio -->
  <div class="font-body">
    <!-- Barra de navegación -->
    <NavigationBar />
    
    <!-- Migas de pan para navegación -->
    <SiteBreadcrumbs />

    <!-- Contenido dinámico del sitio -->
    <slot/>

    <!-- Sección de patrocinadores -->
    <SponsorSection />
    
    <!-- Pie de página del sitio -->
    <SiteFooter />
  </div>
</body>
</html>
