---
import NavBar from '../components/site/navBar.astro';
import Breadcrumbs from '../components/site/breadcrumbs.astro';
import Sponsors from '../components/site/sponsors.astro';
import Footer from '../components/site/footer.astro';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nuevo Los Lagos</title>
</head>
<body>
  <div class="font-body">
    <NavBar />
    <Breadcrumbs />

    <slot/>

    <Sponsors />
    <Footer/>
    
  </div>
</body>
</html>
